*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgb(30, 30, 30); */
    color: #fff;
}

.main-container{

    width: 100vw;
    height: 35vh;
    background:rgb(50, 50, 50);
    margin: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
}
.container{
    flex: 1;
    /* border: 1px solid grey; */
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
}
/* first container styling */
.logo{
    height: 5rem;
    width: 10rem;
    object-fit:unset;
    border-radius: 20%;
    background: rgb(50, 50, 50)
}
.social-medias{
    display: flex;
    margin-top: 4px;
    margin-left: 15px;
    gap: 2rem;
}
.line{
    width: 9rem;
    height: 2px;
    margin-top: 7px;
    background: rgb(20, 20, 20);
}
.social{
    margin-left: 1px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
.social:hover{
    transform: scale(1.6);
    color: #ff004f;
}

/* second container styling */

.com-name {
    color: rgb(14, 133, 14);
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-right:26px;
}
.com-address{
    font-size: 0.8em;
    
}
.com-address-title{
    display: flex;
    gap: 6px;
    margin-left: 40px;
    
}
.location-icon{
    margin-top: 10px;
    margin-left: 4px;
}
.location-heading{
    margin-right: 1px;
    /* background: rgb(40, 40, 40); */
}
.find{
    color: #ff004f;
}
.com-address{
    margin-top: 2px;
}
.com-address2{
    font-size: 0.8em;
}
.com-address3{
    font-size: 0.8em;
}

.address-lines{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4.5rem;
}
/* third container styling */
.third-container{
    /* margin-top: 32px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
 
}
.email{
    letter-spacing: 1px;
    text-decoration: none;

}
.phone{
    letter-spacing: 1px;
}
.Contact{
    /* margin-right: 6rem; */
    color:#ff004f;
}
.phone{
    margin-right: 0.8rem;
}